<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1><%= header %></h1>
    <h1>Back template</h1>
    <% if(!isAuthenticated) { %>
    <a href="/login/">Login</a>
    <% } else { %>
    <a href="/logout/">Logout</a>
    <% } %>

    <pre>
        <%= JSON.stringify(user , null , 2) %>
    </pre>
  </body>
</html>
